:root {
  font-family: "Chiron Hei HK", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

nav {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

li {
  list-style: none;
}

.bottom>button> {
  color: red;
}

a,
li {
  text-decoration: none;
  text-transform: none;
  color: inherit;
  font-weight: 400;
  transition: transform 0.2s;
}

a:hover,
li:hover {
  transform: scale(1.2);
}

#nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25%;
}

#visit-shop>p {
  font-style: italic;
}

#home-filler-text>p {
  max-width: 40%;
  text-align: left;
  color: gray;
}

#home-filler-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-container {
  padding-top: 1.5%;
}

/* .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 300px;
  width: 400px; */

.card {
  display: grid;
  grid-template-rows: 4fr 1fr;
  transition: transform 0.2s;
}

.top>p,
#home>a>p {
  /* font-style: italic; */
  font-weight: 300;
}

img {
  height: 150px;
  width: 150px;
  margin: auto;
  padding: 0;
  position: relative;
}

.itemDisplay {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;

}

.bottom>button {
  font-family: inherit;
}


.top {
  display: grid;
  /* grid-template-rows: 1fr 2fr 1fr; */
  align-items: center;
}

.card:hover {
  transform: scale(1.2);
}